In [1]:
from sqlalchemy import MetaData, Table, create_engine, insert, select

In [32]:
from qd_cyberpank_game.db import get_markets, read_db_schema

import numpy as np
import pandas as pd

In [3]:
db_conn_str = 'mysql+pymysql://astromid:5Zvvbugh@localhost:3306/game1'

In [5]:
db_schema = read_db_schema(db_conn_str)

In [41]:
markets_df = get_markets(db_conn_str=db_conn_str, markets_table=db_schema['markets'])

In [42]:
markets_df = markets_df.set_index('id')

In [43]:
markets_df['link1'] = markets_df.loc[markets_df.index.intersection(markets_df['link1'])].reindex(markets_df['link1'])['name'].values
markets_df['link2'] = markets_df.loc[markets_df.index.intersection(markets_df['link2'])].reindex(markets_df['link2'])['name'].values

In [44]:
markets_df.melt(id_vars='name', value_vars=['link1', 'link2']).dropna().to_dict('records')

[{'name': 'IT', 'variable': 'link1', 'value': 'M1'},
 {'name': 'Медицина', 'variable': 'link1', 'value': 'M1'},
 {'name': 'Добыча', 'variable': 'link1', 'value': 'M2'},
 {'name': 'Ритейл', 'variable': 'link1', 'value': 'M3'},
 {'name': 'M1', 'variable': 'link1', 'value': 'M'},
 {'name': 'M2', 'variable': 'link1', 'value': 'M'},
 {'name': 'M3', 'variable': 'link1', 'value': 'M'},
 {'name': 'M4', 'variable': 'link1', 'value': 'M'},
 {'name': 'IT', 'variable': 'link2', 'value': 'M4'},
 {'name': 'Медицина', 'variable': 'link2', 'value': 'M2'},
 {'name': 'Добыча', 'variable': 'link2', 'value': 'M3'},
 {'name': 'Ритейл', 'variable': 'link2', 'value': 'M4'}]

In [53]:
np.sqrt(markets_df['capacity'] / 20000)

id
1    1.581139
2    1.581139
3    1.581139
4    1.581139
5    2.236068
6    2.236068
7    2.236068
8    2.236068
9    7.071068
Name: capacity, dtype: float64

In [52]:
markets_df['min_capacity'].min()

20000.0

In [54]:
investments_df = pd.DataFrame({
    'market': markets_df['name'],
    'investments': (100000, 33000, 10000, 167000, 120000, 50000, 0, 45000, 0) * np.random.rand(9),
    'income': (10000, -20000, 7000, -34000, 27000, 10000, 0, 23560, 0) * np.random.rand(9),
})
investments_df['profit'] = (investments_df['income'] - investments_df['investments']) / investments_df['investments'] * 100

In [60]:
investments_df.loc[investments_df['market'] == 'M4', 'profit'].item()

-57.66274112186336

In [68]:
investments_df[investments_df['market'] == 'IT']

   market   investments       income     profit
id
1      IT  99212.211174  3886.418652 -96.082721

In [70]:
from qd_cyberpank_game.structures import ThemeColors

ThemeColors.BLUE.value

'#5470c6'

In [84]:
from datetime import datetime

In [82]:
import pytz

In [83]:
local_tz = pytz.timezone('Europe/Moscow')

In [88]:
datetime.now()

datetime.datetime(2021, 7, 27, 0, 28, 46, 48037)

In [90]:
pd.DataFrame().sum()

Series([], dtype: float64)